[Desktop Entry]
Version=1.0
Type=Application
Name=Fildem Hud
GenericName=Fildem Global Menu Hud
Comment=Fildem Global Menu Hud
Exec=fildem-hud
TryExec=fildem-hud
Icon=search
Terminal=false
Type=Application
